@charset "utf-8";
.main {
  background-color: silver;
  border: solid 1px black;
  padding: 20px;
  margin: 30px;
}
  html{
	  height: 100%;
  }
  body{
	  position: relative;
	  padding-bottom: 75px;
	  min-height: 100%;
	  
  }
  li{
	  list-style: none;
  }
  p, ul{
	  margin: 0;
	  padding: 0;
  }
  div,li{
	  box-sizing: border-box;
  }
.aa {
  width: 300px;
  padding: 20px;
  background-color: green;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}

.global_nav_item {
  color: #fff;
/*  color: #42210b;	*/
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0,20px;

}
.global_nav_item:hover{

	background-color: #fff;
 	color: #42210b;
}
.global_nav{
	display: flex;
	align-items: stretch;
}
.logo{
	width: 120px;
	display: flex;
	align-items: center;
}
.logo img{
	width: 100%;
}
.section_inner{
	padding: 50px 10% 30px;
}

.key {
  height: 500px;
display: flex;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'M PLUS Rounded 1c', serif;
  font-weight: bold;
	align-items: center;
}
.section_gnav {
  font-family: 'M PLUS Rounded 1c', serif;
  margin-bottom: 250px;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'M PLUS Rounded 1c', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'M PLUS Rounded 1c', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.concept{
	display: flex;
	align-items: stretch;
}
.context{
	width: 60%;
}
.menuimg {
	background: center / cover no-repeat url(../images/sample_menu_bg.jpg);
	 background-size:cover;
 background-repeat: no-repeat;
 background-position:left;
 background-attachment:fixed;
}
.recommended-menu {
  display: flex;
  justify-content: space-between;
}
.recommended-menu li {
  width: 49%;
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
}
.menu-item {
  background-color: white;
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coffee-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
  background: #fff;
  padding: 20px;
}

.coffee-menu li {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

.caffee_menu_content {
  width: 80%;
  padding: 10px;
}
.menu-item h2{
  font-size: 20px;
}
/*article>div>div{
padding: 20px;
background: center / cover no-repeat url(../images/sample_key.jpg);
 background-size:auto;
 background-repeat: no-repeat;
 background-position:left;
 background-attachment:scroll;
 text-decoration:solid;
}
*/
.section_inner {
  padding: 50px 10% 30px;
}

.coffee_menu_image{
	  width: 20%;
	    border-radius: 50%;


}
dl{
  display: flex;
}
dt{
  width: 80px;
}
.iframe-wrapper{
  width:100%;
  height:0;
  padding-bottom:50%;
  position:relative
}
.iframe-wrapper iframe{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
.footer{
  width: 100%;
  background:#251e19;
  position:absolute;
  height: 75px;
  bottom: -75px;
  padding-bottom: 10px;

}

.footer_nav{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer_nav_item{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 15px;

}
.footer_image {
  width:80px;
}
.footer_right{
  color: white;
  text-align:  center;
  font-size: 10px;

}